@font-face {
  font-family: 'apercu';
  src: url('fonts/apercu_medium_pro.otf') format('opentype');
}

body {
  margin: 0 50px;
  display: block;
  background: none;
  -webkit-font-smoothing: antialiased;
}

#nav {
  margin: 30px 0 10px 0;
  min-width: 840px;
  max-width: 1030px;
}

#nav ul {
  font-size: 14px/18px;
  font-family: 'apercu', Helvetica, sans-serif;
  float: left;
  list-style: none;
  width: 200px;
  list-style-type: disc;
  display: block;

  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}

#content {
  display: block;
  margin-right: 80px;
  margin-top: 75px;
  width: 800px;

  font-size: 45px;
  font-family: 'apercu', Helvetica, sans-serif;
  letter-spacing: -1px;
  font-weight: normal;
}

.links a:link {
  display: inline-block;
  text-decoration: none;
  color: black;
  transform: all .1s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: black;

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.links:hover, .links:focus, .links:active {
  /* -webkit-transform: skew(-10deg);
  transform: skew(-10deg); */
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

#nav .links::before {
  content: '\2716';
  margin-right: 8px;
  color: blue;
}

a:visited {
  color: black;
}

#content a:link {
  color: blue;
  padding: 0 .2em;
  margin: 0 -5px;
  text-decoration: none;
}

#content a:visited {
  color: blue;
}