@font-face {
  font-family: 'Apercu';
  src: url('fonts/apercu_regular_pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu-med';
  src: url('fonts/apercu_medium_pro.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #f5e3e7;
}

body {
  margin: 0 50px;
  display: block;
  background: none;
  -webkit-font-smoothing: antialiased;
}

#nav {
  margin: 30px 0 10px 0;
  min-width: 840px;
  max-width: 1030px;
}

#nav ul {
  display: block;
  width: 200px;
  float: left;

  font-size: 14px;
  font-family: 'Apercu-med', Helvetica, sans-serif;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}

#content {
  display: block;
  width: 600px;
  margin: 75px 80px 0 0;

  font-size: 44px;
  font-family: 'Apercu', Helvetica, sans-serif;
  letter-spacing: -1px;
}

.links a:link {
  display: inline-block;
  text-decoration: none;
  color: black;
  transform: all .1s ease-in-out;
  text-decoration: none;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#nav a:visited {
  color: black;
}

#nav a:hover, a:focus, a:active {
  color: blue;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

#nav .links::before {
  content: '\2716';
  margin-right: 8px;
  color: blue;
}

#content a:link {
  color: blue;
  padding: 0 .2em;
  margin: 0 -5px;
  text-decoration: none;
}

#content a:visited {
  color: blue;
}