@font-face {
  font-family: 'Apercu';
  src: url('public/fonts/apercu_regular_pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu-med';
  src: url('public/fonts/apercu_medium_pro.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #f5e3e7;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 48px;
  font-size: 36px;
  font-family: sans-serif;
}
